<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>formatvalidation</short-name>
	<uri>http://javaserverpage.com/format/jsp/taglib</uri>
	<tag>
		<name>formatNumericValidator</name>
		<tag-class>com.netfective.bluage.tag.format.validator.FormatNumericValidator</tag-class>
		<display-name>formatNumeric</display-name>
		<description>
			<![CDATA[]]>
		</description>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.Object</type>
			<description>
			<![CDATA[value]]>
			</description>
		</attribute>
		<attribute>
			<name>pattern</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<description>
			<![CDATA[pattern]]>
			</description>
		</attribute>
	</tag>
	<tag>
		<name>formatDateValidator</name>
		<tag-class>com.netfective.bluage.tag.format.validator.FormatDateValidator</tag-class>
		<display-name>formatDate</display-name>
		<description>
			<![CDATA[]]>
		</description>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<description>
			<![CDATA[value]]>
			</description>
		</attribute>
		<attribute>
			<name>pattern</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<description>
			<![CDATA[pattern]]>
			</description>
		</attribute>
	</tag>
	<tag>
		<name>formatCurrencyValidator</name>
		<tag-class>com.netfective.bluage.tag.format.validator.FormatCurrencyValidator</tag-class>
		<display-name>formatCurrency</display-name>
		<description>
			<![CDATA[]]>
		</description>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<description>
			<![CDATA[value]]>
			</description>
		</attribute>
		<attribute>
			<name>pattern</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<description>
			<![CDATA[pattern]]>
			</description>
		</attribute>
	</tag>
</taglib>