/* Style M2HMI */

/* rd_style 90923 */
/* http://meyerweb.com/eric/tools/css/reset/ */ /* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* http://www.thenoodleincident.com/tutorials/box_lesson/font/index.html */
h1 { font-size: 2.0em; font-weight: normal; margin-top:0em; margin-bottom:0em;}
h2 { font-size: 1.7em; margin: 1.2em 0; font-weight: normal; }
h2.attention {color:red;}
h3 { font-size: 1.4em; margin: 1.2em 0; font-weight: normal; }
h4 { font-size: 1.2em; margin: 1.2em 0; font-weight: bold; }
h5 { font-size: 1.0em; margin: 1.2em 0; font-weight: bold; }
h6 { font-size: 0.8em; margin: 1.2em 0; font-weight: bold; }
img { border: 0; }
ol, ul, li {font-size: 1.0em; margin: 0.2em 0 0.1em; }
p { font-size: 1.0em; line-height: 1.5em; margin: 0 0 1.2em; margin:1em 0; }
li > p { margin-top: 0.2em; }
pre {font-family: monospace; font-size: 1.0em; }
strong, b { font-weight: bold; }


/* Loading Width Setup */
.rd_w10 { width:10px; } .rd_w15 { width:15px; } .rd_w20 { width:20px; } .rd_w25 { width:25px; } .rd_w30 { width:30px; } .rd_w35 { width:35px; }
.rd_w40 { width:40px; } .rd_w45 { width:45px; } .rd_w50 { width:50px; } .rd_w55 { width:55px; } .rd_w60 { width:60px; } .rd_w65 { width:65px; }
.rd_w70 { width:70px; } .rd_w75 { width:75px; }.rd_w80 { width:80px; } .rd_w85 { width:85px; } .rd_w90 { width:90px; } .rd_w95 { width:95px; }
.rd_w100 { width:100px; } .rd_w105 { width:100px; } .rd_w110 { width:110px; } .rd_w115 { width:115px; } .rd_w120 { width:120px; } .rd_w125 { width:125px; }
.rd_w130 { width:130px; } .rd_w135 { width:135px; } .rd_w140 { width:140px; } .rd_w145 { width:145px; } .rd_w150 { width:150px; } .rd_w155 { width:155px; }
.rd_w160 { width:160px; } .rd_w165 { width:165px; } .rd_w170 { width:170px; } .rd_w175 { width:175px; } .rd_w180 { width:180px; } .rd_w185 { width:185px; }
.rd_w190 { width:190px; } .rd_w195 { width:195px; } .rd_w200 { width:200px; } .rd_w205 { width:205px; } .rd_w210 { width:210px; } .rd_w215 { width:215px; }
.rd_w220 { width:220px; } .rd_w225 { width:225px; } .rd_w230 { width:230px; } .rd_w235 { width:235px; } .rd_w240 { width:240px; } .rd_w245 { width:245px; }
.rd_w250 { width:250px; } .rd_w255 { width:255px; } .rd_w260 { width:260px; } .rd_w265 { width:265px; } .rd_w270 { width:270px; } .rd_w275 { width:275px; }
.rd_w280 { width:280px; } .rd_w285 { width:285px; } .rd_w290 { width:290px; } .rd_w295 { width:295px; } .rd_w300 { width:300px; } .rd_w305 { width:305px; }
.rd_w310 { width:310px; } .rd_w315 { width:315px; } .rd_w320 { width:320px; } .rd_w325 { width:325px; } .rd_w330 { width:330px; } .rd_w335 { width:335px; }
.rd_w340 { width:340px; } .rd_w345 { width:345px; } .rd_w350 { width:350px; } .rd_w355 { width:355px; } .rd_w360 { width:360px; } .rd_w365 { width:365px; }
.rd_w370 { width:370px; } .rd_w375 { width:375px; } .rd_w380 { width:380px; } .rd_w385 { width:385px; } .rd_w390 { width:390px; } .rd_w395 { width:395px; }
.rd_w400 { width:400px; } .rd_w410 { width:410px; } .rd_w415 { width:415px; } .rd_w420 { width:420px; } .rd_w425 { width:425px; } .rd_w430 { width:430px; }
.rd_w435 { width:435px; } .rd_w440 { width:440px; } .rd_w445 { width:445px; } .rd_w450 { width:450px; } .rd_w455 { width:455px; } .rd_w460 { width:460px; }
.rd_w465 { width:465px; } .rd_w470 { width:470px; } .rd_w475 { width:475px; } .rd_w480 { width:480px; } .rd_w485 { width:485px; } .rd_w490 { width:490px; }
.rd_w495 { width:495px; } .rd_w500 { width:500px; }

/* eye candy */
#rd_ghost, #rd_phantom, #rd_eidolon { display:none; }
#rd_jghost { position:absolute; top:2px; right:2px; width:150px; z-index:100; filter:alpha(opacity=71); background:#000; -moz-opacity: 0.71; opacity:0.71; }
#rd_jghost small { display:block; padding:5px; font:10px Tahoma, Geneva, sans-serif; color: #FFF; text-align:center; }


.rd_clearfix { clear:both; visibility:hidden; }
.rd_invisible { display:none; }
.rd_hhack { height:1%; }
.rd_first { margin-top:0; }
.rd_nowidth, .rd_nowidth input, .rd_nowidth select { width:auto !important; }
.rd_nolheight { line-height:normal !important; }
.rd_arch_left { text-align:left; } .rd_arch_right { text-align:right; } .rd_arch_justify { text-align:justify; } .rd_arch_center { text-align:center; }
.rd_f_right { float:right; } .rd_fm_right { float:right; margin-left:1em; } .rd_f_left { float:left; } .rd_fm_left { float:left; margin:0 1em 1em 0; }

::-moz-selection { background: #ffffff; color: #afafaf; }
::selection { background: #ffffff; color: #afafaf; }
ol, ul, li {line-height:normal; }
p {line-height:1.25em; }


/* Now let's play */
body { font:68.75% Verdana, Geneva, sans-serif; color:#5d5d5d; }
input, textarea { font:1em Verdana, Geneva, sans-serif; color:#2d2d2d; }
select { font:1em Verdana, Geneva, sans-serif; color:#2d2d2d; min-width:200px; }

/* Loading Font Size Setup */
h1 { font:normal 1.7em "Trebuchet MS", Arial, Helvetica, sans-serif; color:#224d90; margin:0; white-space:nowrap; }
h1 a, h1 a:link { font:normal 1.7em "Trebuchet MS", Arial, Helvetica, sans-serif; color:#224d90; }
h1 a:hover { text-decoration:underline; }
h2 { font-size:1em; font-weight:bold; color:#224d90; margin:0 0 1em; padding:0.65em; border-left:4px solid #224d90; background:#f5f5f5 url(bg_h.png) repeat-x; }
h3 { font-size:1em; font-weight:bold; padding:0.65em; border-left:4px outset #224d90; background:#f5f5f5 url(bg_h.png) repeat-x; }
h4 { font-size:1em; font-weight:bold; padding:0.65em; border-left:2px outset #224d90; background:#f5f5f5 url(bg_h.png) repeat-x; }
h5 { font-size:1em; font-weight:bold; background:#f5f5f5 url(bg_h.png) repeat-x; }

.drag-handle {  font-size:1.2em !important; font-weight:bold !important; color:#224d90 !important; margin:0 0 1em !important; padding:0.65em !important; border-left:4px solid #224d90 !important; background:#f5f5f5 url(bg_h.png) repeat-x ; }

/* On screen */
@media screen {
/* Body */


/* override pour autocomplete */
.yui-skin-sam .yui-ac-input {position:relative; width:250px; !important; }
.yui-skin-sam .yui-ac-content {position:relative; width:250px; !important; }

body { text-align:justify; vertical-align:top; padding:0; background:#f0f0f0 url(bg_body.png) repeat-x ; }
html, body { width:100%; height:100%; padding:0; margin:0; overflow:hidden !important; }
#shape {width:90%; height:95%; margin:1em auto 0; background:#FFF; }
.ui-layout-center, .ui-layout-west { background:#FFF url(bg_tableform.png) repeat-x !important; }
.ui-layout-south { background:#FFF url(bg_siteinfo.png) repeat-x !important; }

a, a:link { font-weight:normal; text-decoration:none; color:#4d4d4d; }
a:hover { text-decoration:underline; }
a.rd_link_u, a.rd_link_u:link { text-decoration:underline; }

/* key */
.rd_kb { background:#fefefe; height:4em; }
.rd_kb ul { margin:0; padding:0; list-style:none; clear:both; }
.rd_kb li { margin:0 5px 5px 0; padding:0; float:left; }
.rd_kb a { font-weight:bold; color:#565656; cursor:pointer; background:#f5f5f5; text-decoration:none; white-space:nowrap; border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee; padding:5px 10px; /* hide from ie/mac \*/ display:block; /* end hide */ }
.rd_kb a img { vertical-align:text-bottom; padding-right:5px; }
.rd_kb a:hover { background:#dff4ff; border:1px solid #c2e1ef; color:#336699; text-decoration:none; }
.rd_kb a:active { background:#dff4ff; border:1px solid #6299c5; padding-top:6px; padding-bottom:4px; }
.rd_kb_right li { float:right; margin:0 0 0 5px; }

.rd_tabledata { text-align:left; border-collapse:collapse; border:1px solid #dddddd; background:#ffffff url(bg_tabledata.png) repeat-x; width:100%; margin:0 0 1em; }
.rd_tabledata td, .rd_tabledata th  { font-size:1em; border:1px groove #6a788f; vertical-align:top; padding:2px 4px; line-height:1.6em; }
.rd_tabledata thead td, .rd_tabledata thead th { background:#f0f0f0 url(bg_tabledata.png) repeat-x; font-weight:bold; line-height:2em; border-bottom:2px inset #224d90; }

.rd_tableform { text-align:left; border-collapse:collapse; border:1px solid #dddddd; background:#ffffff url(bg_tableform.png) repeat-x; width:100%; margin:0 0 1em; }
.rd_tableform td { border-bottom:1px groove #dddddd; padding:2px 4px; vertical-align:top; line-height:2em; text-align:left; }
.rd_tableform td label { background: url(bg_label.png) no-repeat left center; padding-left:15px; color:#505050; }
.rd_tableform td label.rd_clearcss { background:none; padding-left:0; }
.rd_tableform td label input {width:auto; vertical-align:middle; }
.rd_tableform td textarea  { height:5em; }
.rd_tableform td img {vertical-align:text-bottom; }

.rd_tableform2 { text-align:center; border-collapse:collapse; border:1px solid black; background:#ffffff url(bg_tableform.png) repeat-x; width:30%; margin:0 0 1em; }
.rd_tableform2 td { border-right:1px solid black; border-bottom:1px groove #dddddd; padding:2px 4px; vertical-align:top; line-height:2em; text-align:center; background-color:#224D90; color:white;}
.rd_tableform2 td a { color:white; }
	
.rd_tableform_1c input, .rd_tableform_1c select, .rd_tableform_1c textarea { width:440px; }
.rd_tableform_2c input, .rd_tableform_2c select, .rd_tableform_2c textarea { width:180px; }
.rd_tableform_2c .rd_tableform_1c input, .rd_tableform_2c .rd_tableform_1c select, .rd_tableform_2c .rd_tableform_1c textarea { width:535px; }

.rd_wlab { width:130px; }
.rd_tableform_1c .rd_wlab { width:225px; }
.rd_winp { width:210px; }
.rd_table_vsep { border-left:3px double #dddddd; }
.rd_table_cal { vertical-align:text-bottom; }
/* Loaded */
}






.rich-table-subheadercell{
	color: #5D5D5D !important;
	text-align: left !important;
	font-family: Verdana !important;
}
.panelborder{
border:2px solid #a1a1a1;
padding:10px 40px;
border-radius:25px;
-moz-border-radius:25px; /* Old Firefox */
}
/* On print */
@media print {
/* Loading Print Setup */

/* Loading Body & containers */ 
body { text-align:justify; background:#ffffff; vertical-align:top; }
#rd_jghost, #rd_brand, #rd_content_01, #rd_siteinfo { display:none; }
#rd_shape, #rd_shape_l1 { position:relative; top:0px; left:0px; float:none; width:auto; height:auto; min-height:0px; margin:0; padding: 0; border: 0; color:#000000; background:transparent; }

a { color: #520; background: transparent; font-weight: bold; text-decoration: underline;}
/* a:after  { content:" (" attr(href) ") "; font-size: 90%; } */
/* Loaded */
}
