.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: red;
}

.drag-handle1{ /*Overwrite default drag handle bar background color with below*/
background-color: #03277C;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: black url(../images/blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter: alpha(opacity=30);
opacity: 0.6;
}

#interVeil1{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: black url(../images/blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 150;
visibility: hidden;
filter: alpha(opacity=30);
opacity: 0.6;
}