/* jquery Style */

/* ui */
.ui-datepicker { font:1em Tahoma, Geneva, sans-serif !important; }
.ui-dialog { font:1em Tahoma, Geneva, sans-serif !important; }
.ui-accordion .ui-accordion-content { padding: 1em !important; zoom:1; }

.ui-widget { font:1em Verdana, Geneva, sans-serif !important; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font:1em Verdana, Geneva, sans-serif !important; }

/* Treeview */

.treeview, .treeview ul { padding: 0; margin: 0; list-style: none; }
.treeview ul { background-color: white; margin-top: 4px; }
.treeview .hitarea { background: url(treeview-default.gif) -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }
/* fix for IE6 */
* html .hitarea { display: inline; float:none; }
.treeview li { margin: 0; padding: 3px 0pt 3px 16px; text-align:left; }
.treeview a.selected { background-color: #eee; }
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: red; cursor: pointer; }
.treeview li { background: url(treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview-red li { background-image: url(treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(treeview-red.gif); }
.treeview-black li { background-image: url(treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(treeview-black.gif); }
.treeview-gray li { background-image: url(treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(treeview-gray.gif); }
.treeview-famfamfam li { background-image: url(treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(treeview-famfamfam.gif); }
.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(file.gif) 0 0 no-repeat; }
